.question-card
{
    background-color: #FFF;
    padding: 2%;
    height: 130px;
}
.fix-2-line
{   
  display: -webkit-box;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  /*autoprefixer: off */
  -webkit-box-orient: vertical;
  /*autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;

}