<div id="live-chat-fab">
  <button mat-fab color="primary" (click) = "fabToggle()"><mat-icon>forum</mat-icon></button>
</div>
  <div id="live-chat">
		
  <header class="clearfix" (click)="toggleWindow()">
    
    <div class="chat-close" (click) = "closeChat()"><mat-icon>close</mat-icon></div>

    <h4>Compiler Bot</h4>

    <span class="chat-message-counter" id="chat-counter">{{(messages | async)?.length}}</span>

  </header>

  <div class="chat" id="chat-content">
    
    <div class="chat-history">
      <div  *ngFor="let message of messages | async">
      <div class="chat-message clearfix">

        <img *ngIf="message.sentBy === 'You'" src="../../../assets/icons/user.svg" alt="" width="32" height="32">
        <img *ngIf="message.sentBy === 'Bot'" src="../../../assets/icons/bot.svg" alt="" width="32" height="32">

        <div class="chat-message-content clearfix">

          <h5 *ngIf="message.sentBy === 'You'">You</h5>
          <h5 *ngIf="message.sentBy === 'Bot'">Bot</h5>

          <p>{{message.content}}</p>

        </div> <!-- end chat-message-content -->

      </div> <!-- end chat-message -->
      <hr>
      </div>

    </div> <!-- end chat-history -->

    <form action="#" method="post">

      <fieldset>
        
        <input [(ngModel)]="formValue" name="user-input" (keyup.enter)="sendMessage()" type="text" placeholder="Type your message…" autofocus>
        <input type="hidden">

      </fieldset>

    </form>

  </div> <!-- end chat -->

</div> <!-- end live-chat -->