.center
{
    text-align: center
}


.fix-width
{
    min-width: 70%;
}

.save-button
{
    background-color: #F9AA43;
    color: #FFF;
}
.compile-button
{
    background-color: #00b0ff;
    color: #FFF;
}
.submit-button
{
    background-color: #2e7d32;
    color: #FFF;
}
.status-button
{
    // background-color: #00bfa5;
    background-color: #424242;
    color: #FFF;
}

.toolbar-button
{
    padding: 30px 15px;
    background-color: #FFF;
    // outline: 2px solid #787878;
    
}

.coding-area
{
    margin-top:12px;
}
.overflow-h
{
    overflow: hidden;
}
