<div class="container margin-top-x">
    <!-- run, clear & beautify buttons -->
    <!-- <h2>Coding Arena</h2> -->
    <div class="toolbar-button">
    <div class="row ">
        <div class="col-md-2 center margin-bottom-x">
            <button mat-flat-button  class="fix-width save-button" (click)="saveCode()"><i class="material-icons">
              save
              </i>&nbsp;Save</button>
        </div>
        <div class="col-md-2 center margin-bottom-x">
            <button mat-flat-button  class="fix-width compile-button" (click)="compileCode()"><i class="material-icons">
              code
              </i>&nbsp;Compile</button>
        </div>
        <div class="col-md-2 center margin-bottom-x">
            <button mat-flat-button color="primary" class="fix-width" (click)="runCode()"><i class="material-icons">
              offline_bolt
              </i>&nbsp;Run</button>
        </div>
        <div class="col-md-2 center margin-bottom-x">
            <button mat-flat-button  class="fix-width submit-button" (click)="submitCode()"><i class="material-icons">
              send
              </i>&nbsp;Submit</button>
        </div>
        <div class="col-md-2 center margin-bottom-x">
            <button mat-flat-button  class="fix-width status-button" (click)="consoleCode()"><i class="material-icons">
              check_circle
              </i>&nbsp;Status</button>
        </div>
        <div class="col-md-2 center margin-bottom-x">
            <button mat-flat-button color="accent" *ngIf="lang!=='python3'" class="fix-width" (click)="beautifyContent()"><i class="material-icons">
              local_florist
              </i>&nbsp;Beautify</button>
        </div>
      </div>
    </div>
  
  <!-- the code editor -->
  <div class="coding-area">
    <app-code-editor [lang]="lang"></app-code-editor>
  </div>


  <!-- output box -->
  <!-- <div class="row mt-4">
      <div class="col-md-6">
          <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
          <textarea class="form-control output" rows="6" disabled="true" aria-label="output-textarea"></textarea>
      </div>
  </div>
</div> -->