#login-icon{
    height: 50%;
    width: 50%;
}

.login-div{
    text-align: center;
    margin-top: 80px;
}


.login-form-div{
    margin-top: 40px;
}
.login-field{
    width: 80%;
}

.primary-btn{
    background-color: #3F8BBF;
    border-radius: 0;

}

.black-btn{
    background-color: #191a1cf0;
    border-radius: 0;

}