.signup-main{
    display: flex;
    flex-direction: row;
}
.signup-form{
    width: 50%
}

.signup-img{
    padding-top: 7%;
    width: 50%;
}

#signup-icon{
    height: 16rem;
    width: 16rem;
}

.optional-div{
    display: flex;
}

.form-wrapper{
    font-size: 12px;
}

.signup-field{
    width: 70%;
}

.radio-div{
    margin-bottom: 4%;
}