.create-div {
    width: 100%
}
.pad-x
{
    padding: 4% 5%;
}
.pad-s-x
{
    padding: 0 2% 0 2%;
}

.w-100
{
    width: 100%;
}

.del-button
{
    color: #c3002f;
    vertical-align: bottom;
    font-size: 2em;
}

button:focus
{
    outline:none;
}