/* You can add global styles to this file, and also import other style files */
// @import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; // add the grid
//@import "reset";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
*{
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
    background-color: #F2F2F5;
  }
  
.full-height {
    height: 100%;
}

.margin-top-x
{
    margin-top: 40px;
}
.margin-bottom-x
{
    margin-bottom: 5px;
}

.cq-bottomsheet {
    width: 1140px;
}
