<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3 margin-top-x">
      <app-dashboard-card [labName]="'Java'"></app-dashboard-card>
    </div>
    <div class="col-md-3 margin-top-x">
      <app-dashboard-card [labName]="'C Programming'"></app-dashboard-card>
    </div>
    <div class="col-md-3 margin-top-x">
      <app-dashboard-card [labName]="'C++ Programming'"></app-dashboard-card>
    </div>
    <div class="col-md-3 margin-top-x">
      <app-dashboard-card [labName]="'HTML'"></app-dashboard-card>
    </div>
  </div>
</div>